#notes {
    border: 1px solid #ccc;
    padding: 16px;
    max-width: 75%;
    margin: auto;
}

.notes {
    margin-top: 16px;
    display: flex;
    align-items: flex-start;
}

.inputs {
    margin-top: 16px;
}

.text {
    background: rgb(186, 209, 171);
    padding: 16px;
    border-radius: 4px;
    width: calc(100% -250px);
}

.inputs {
    height: 32px;
    border: 1px #ccc;
    padding: 0 8px;
    border-radius: 6px;
    margin-bottom: 16px;
    width: (50% -152px);
}

button, select{
    height: 32px;
    margin-left: 8px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    padding: 4px 16px;
    color: #fff;
}

.add {
    background: #00ffff;
}
.edit {
    background-color: darkgreen;
    margin-top: 6px;
}
.delete, select {
    background-color: crimson;
    margin-top: 6px;
}